* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(0,0,0,.15);
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#controls {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(50,50,50,.8);
	z-index: 999;
	padding: 20px;
	border-radius: 0 0 10px 0;
	pointer-events: all;
}
#controls > * {
	display: block;
	color: white;
	margin: 10px auto;
}
#controls > select {
	color: black;
}
#controls > button {
	font-weight: bold;
	border: none;
	width: 100%;
	background-color: rgba(0,100,225,1);
	border-radius: 50px;
	padding: 5px 0;
}
#controls > textarea {
	color: black;
}